* {
  margin:0;
  padding: 0;
}

header {
  height: 40px;
  width: 100%;
  background-color: #24292e;
  color: whitesmoke;
}

content {
  background-color: #32363f;
  display: block;
  height: 100vh;
  padding: 0 40px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

menu {
  width: 100%;
  height: 100px;
  display: flex !important;
}

.selected {
  background-color: #34a6ff;
  color: white;
}

.main-menu-item {
  width: 30%;
  height: 100px;
  display: inline-block;
  border: 1px solid #34a6ff;
  vertical-align: middle;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
}

.main-menu-item:hover {
  background-color: #34a6ff;
  color: white;
}

.main-menu-item span {
  color: white;
  margin-top: 40px;
}

.content-wrapper {
  display: flex;
  margin-top: 50px;
  width: 100%;
}
.app-content {
  display: flex;
}

.middle-pane {
  height: 60vh;
  display: inline-block;
  flex-grow: 1;
}

.filler {
  flex-grow: 1;
}

.content-header {
  width: 45%;
  color: white;
}

.upload-content-pane:hover {
  background-color: rgba(52,166,255,0.3);
}

.upload-content-pane {
  width: 45%;
  border: 1px solid #34a6ff;
  color: #f6eeee;
  margin-top: 20px;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  vertical-align: middle;
}

.content-pane {
  width: 45%;
  height: 60vh;
  display: inline-block;
  border: 1px solid #34a6ff;
  padding: 20px;
  color: #f6eeee;
}

.shortcuts-pane {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: 60vh;
}

.full-content-pane {
  width: 100%;
}

#listed-files {
  display: inline-block;
  width: 74%;
  height: 100%;
  overflow-x: hidden ;
} 

#content-pane li {
  height: 1.5em;
  line-height: 1.5em;
  cursor: pointer;
}

.shortcut {
  cursor: pointer;
}

#drag-file {
  color:white;
  text-align: right;
  display:flex;
}

.results {
  display: none;
  font-weight: bold;
  color: #34a6ff;
  text-align: center;
  padding: 10px;
  border: 1px solid #34a6ff;
}

#upload-result {
  width: 100%;
}

.result-title {
  text-align: center;
  font-size: 1em;
}

.results-content {
  font-size: 1.3em;
}

.listings {
  width: 100%;
  margin-top: 25px;
  border: 1px solid #34a6ff;
  padding: 20px;
  color: #f6eeee; 
}

.listings thead tr {
  background-color:#667;
}

.listings thead tr td {
  padding: 6px;
  margin-bottom: 10px;
} 

.listings tbody tr td {
  padding: 3px;
  border-bottom: 1px solid #34a6ff;
}

#swarmbox-files {
    width: 100%;
    text-align: left;
    list-style-type: none;
}

li i {
  width: 25px;
}

.modal-dialog {
  width: 40vw;
}

.modal-body input {
  width: 100%;
  font-size: 1.1em;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.hasBox {
  display: flex;
  justify-content: space-between;
}

.yesno {
  width: 45%;
}

.yes {
  background-color: green !important;
}

.no { 
  background-color: red !important;
}

.ok {
  color: green;
}

.failed {
  color: red;
}

.loading-area {
  font-size: 0.8em;
  line-height: 0.8em;
  padding: 0 20px;
}

.loader {
  background: url("img/loader.gif") no-repeat center;
  background-size: 120px;
  height: 140px;
}

.btn-big {
  width: 50%;
  margin: 10px 25%;
}
