<div class="content-wrapper">
  <div class="content-header">
      <h3>Browse your file system</h3>
  </div>
    
  <div class="filler"></div>

  <div class="content-header">
      <h3 class="inline">Browse your Swarmbox</h3><p class="small-text inline">Drag your files here to upload to your Swarmbox</p>
  </div>
</div>
<div class="app-content">
    <div class="content-pane" id="file-browser">
      <div class="shortcuts-pane">
        <div id="os-root" class="shortcut" onclick="readFolder(getOsRoot());"><i class="fa fa-anchor" aria-hidden="true"></i> Root</div> 
        <div id="os-home" class="shortcut" onclick="readFolder(getOsHome())"><i class="fa fa-home" aria-hidden="true"></i> Home</div>
      </div>
      <div ngdroppable drop="dropFromSwarmboxFolder" id="listed-files"></div>
    </div>

    <div class="middle-pane"></div>

    <div class="content-pane" id="swarmbox" ngdroppable drop="dropToSwarmboxFolder">
      <ol id='swarmbox-files'> 
        <li class="dir" ng-repeat-start="d in curr_dirs" ngdroppable drop="dropToSwarmboxFolder" draggable="true" ondragstart="itemDrag(event)" dir="dir" type="dir" id="{{d}}" ng-dblclick="openItem(d)"><i class="fa fa-folder-open"></i>{{d}}</li>
        <hr ng-repeat-end>
        <li class="file" ng-repeat-start="f in curr_files" draggable="true" ondragstart="itemDrag(event)" type="file" id="{{f.path}}" ng-dblclick="downloadFile(f)"><i class="fa fa-file"></i>{{f.path}}</li>
        <hr ng-repeat-end>
      </ol> 
    </div>
</div>
<div class="app-content">
  <div class="upload-content-pane" id="uploadbox">
    {{uploadHere}}
    <div class="results" id="upload-result">
    </div>
  </div>

  <div class="middle-pane"></div>

  <div class="sync-pane" ng-show="isSwarmboxMounted()">
    <label class="optionlabel">Download your swarmbox onto your harddrive</label>
    
    <div id="syncbox" ng-class="{doSync: syncboxState==true}" ng-click="toggleSync()">
    </div>
    <div class="optionpane">
      <label class="optionlabel">Local folder:</label>
      <label class="optionvalue">{{localFolder}}</label>
      <input id="localFolderSelector" type="file" selectfolder="localFolder" webkitdirectory directory ng-hide="true" />
      <div class="action-info" ng-show="downloadingBox">Downloading contents...
        <div class="action-detail">This may take a while depending on your swarmbox size.</div>
        <div class="small loader"></div>
      </div>
    </div>
  </div>
</div>

  <div class="dialog" id="hashModal">
    <script type="text/ng-template" id="hashDialogContent.html">
      <div class="modal-header">
        <h3>{{$ctrl.currentDialogTitle}}</h3>
      </div>
      <div class="modal-body" id="hashModalBody">
        <div class="hasBox" ng-hide="$ctrl.hasBoxShown">
          <button class="btn btn-primary yesno" type="submit" ng-click="$ctrl.has()">Yes</button>
          <button class="btn btn-primary yesno" type="submit" ng-click="$ctrl.hasNot()">No</button>
        </div>

        <div class="hasNoBox" ng-show="$ctrl.hasBoxShown && !$ctrl.hasBox">
          <div class="alert alert-info" role="alert">Info: If the folder you select is empty, a small README.TXT file will be created in the folder. Swarm can not upload empty folders.</div>
          <br/>
          <input type="file" selectfolder="$ctrl.swarmboxFolder" webkitdirectory directory ng-hide="$ctrl.swarmboxFolder" />
          <div class="confirmFolder" ng-show="$ctrl.swarmboxFolder">
            <p>You selected folder <span ng-bind="$ctrl.swarmboxFolder"></span></p>
            <br/>
            <br/>
            <h4>Are you sure you want to use this folder as your Swarmbox folder?</h4>
            <div class="alert alert-warning" role="alert">The complete content of the folder will be uploaded</div>
            <div class="hasBox">
              <button class="btn btn-primary yesno yes" type="submit" ng-click="$ctrl.confirmFolder()">Yes</button>
              <button class="btn yesno no" type="submit" ng-click="$ctrl.dontUseFolder()">No</button>
            </div>
            <div class="uploadSpinner" ng-show="$ctrl.uploadingFolder">
              <h4>Uploading your folder to swarm...</h4>
              <div class="loader"></div>
            </div>
          </div>
        </div>

        <div class="insertHash" ng-show="$ctrl.hasBoxShown && $ctrl.hasBox && !$ctrl.selectFolder">
          <input class="textinput" type="text" placeholder="Your (last) SwarmboxHash here" name="swarmboxHash" ng-model="$ctrl.swarmHash" ng-required>
          <br/>
          <button class="btn btn-primary" type="submit" ng-click="$ctrl.ok()" ng-disabled="!$ctrl.isValidId()">Connect to your Swarmbox</button>
        </div>
      </div>
    </script>
  </div>

  <div class="dialog" id="loadingSwarmboxDialog">
    <script type="text/ng-template" id="loadingSwarmboxContent.html">
      <div class="modal-header">
        <h3>{{$ctrl.title}}</h3>
      </div>
      <div class="modal-body" id="hashModalBody">
        <div class="loading-area">
          <div class="loader"></div>
          <p ng-repeat="m in $ctrl.messages">{{m.statusMsg}} {{m.endpoint}}...
            <span ng-class="m.status">{{m.status}}</span>
          </p>
        </div>
      </div>
    </script>
  </div>
