<div class="app-content">
  <div class="content-pane" id="file-browser">
    <div class="shortcuts-pane">
      <div class="shortcut" onclick="readFolder(getOsRoot());"><i class="fa fa-anchor" aria-hidden="true"></i> Root</div> 
      <div class="shortcut" onclick="readFolder(getOsHome())"><i class="fa fa-home" aria-hidden="true"></i> Home</div>
    </div>
    <div id="listed-files"></div>
  </div>
  <div class="middle-pane">
  </div>
  <div class="content-pane" id="drag-file">
    <div class="results" id="upload-result">
    </div>
  </div>
</div> 
